body {
    background-color: #f9f9f9;
}

.toggle {
    position: absolute;
    top: 58px;
    right: 58px;
    height: 48px;
    width: 82px;
    border-radius: 24px;
    background-color: #ffffff;
    box-shadow: 0 1px 4px #00000014;
}

.newmoon {
    position: absolute;
    height: 32px;
    width: 32px;
    margin: 8px;
    right: 0;
}

.fullmoon {
    position: absolute;
    height: 32px;
    width: 32px;
    margin: 8px;
    left: 0;
}

.newmoon:hover, .fullmoon:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
