[data-theme="light"] {
    --color-bg: #f9f9f9;
    --color-primary: #ffffff;
  }
  
[data-theme="dark"] {
    --color-bg: #222222;
    --color-primary: #333333;
  }

body {
    background-color: var(--color-bg);
}

.toggle {
    position: absolute;
    top: 58px;
    right: 58px;
    height: 48px;
    width: 82px;
    border-radius: 24px;
    background-color: var(--color-primary);
    box-shadow: 0 1px 4px #00000014;
    cursor: pointer;
}

.moon {
    position: absolute;
    height: 32px;
    width: 32px;
    margin: 8px;
    background-size: contain;
    transition: right 0.3s ease-in-out;
}

.moon:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

html[data-theme="light"] .moon {
    background-image: url('https://veronicaandrd.github.io/hello/assets/newmoon.png');
    right: 0;
}
  
  html[data-theme="dark"] .moon {
    background-image: url('https://veronicaandrd.github.io/hello/assets/fullmoon.png');
    right: 34px;
}
